.DS_Store
JK/.DS_Store
JK/JK/.DS_Store
JK/JK/Resources
JK/JK/Assets.xcassets/.DS_Store
JK/Pods/.DS_Store
JK/JK.xcworkspace/xcuserdata/ykjin.xcuserdatad/UserInterfaceState.xcuserstate
JK/JK/EyelashesList.plist
JK/JK/ManicureList.plist
